body{
    margin: auto;
    padding: 0;
    background: whitesmoke;
    /* background-size: cover; */
    max-width: 1024px;
    /* display: block;
    justify-content: center; */
}

img{
    display: block;
    height: 400px;
    width: 300px;
    justify-content: center;
    margin: auto;
}

#name {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1px;
    color: cadetblue;
}

#position {
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 35px;
    color: darkslategray;
}

.button1, .button2 {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #070303;
    text-align: center;
    font-size: 16px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    height: 35px;
    justify-content: center;
  }
  .btn{
    display: grid;
    column-gap: 0px;
}
 
.button1{
  grid-column: 1/2;
  color: #070303;
}

.button2{
  grid-column: 2/3;
  color: #070303;
}

  button:hover {
    background-color: green;
  }

  #TopSection {
    background-color: rgb(137, 97, 218);
    margin-bottom: 15px;
    border-radius: 4px;
  }
  
  .section {
    display: flex;
  }
  
  .left {
    margin-right: 60px;
    margin-left: 130px;
    flex: 1;
  }
  
  .right {
    flex: 1;
  }
  
  #info {
    background-color: rgb(53, 125, 138);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    border-radius: 4px;
  }

  .education{
    display: grid;
    /* column-gap: 10px; */
    border: 2px black;
    padding: 30px;
}
.educationstatus{
    grid-column: 2/3;
   border: 2px black;
   background-color: rgb(120, 95, 229);
   padding: 20px;
   margin-bottom: 20px;
}
.Education_status{
    grid-column: 4/7;
    border: 2px black;
    background-color: rgb(120, 95, 229);
    padding: 20px;
    margin-bottom: 20px;
}
.earlier1{
    grid-column: 2/3;
   border: 2px black;
   background-color: rgb(229, 99, 95);
   padding: 20px;
   margin-bottom: 20px;

}
.earlier2{
    grid-column: 4/7;
    border: 2px black;
    background-color: rgb(229, 99, 95);
    padding: 20px;
    margin-bottom: 20px;

}
input[type=text], select, textarea {
    width: 100%; 
    padding: 14px; 
    border-radius: 3px; 
    margin-top: 5px; 
    margin-bottom: 17px; 
    border: 1px solid rgb(159, 49, 49); 
    box-sizing: border-box; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    border-radius: 4px;
    padding: 14px 20px;
    background-color: #4cf24e;
    color: white;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #5774f4;
  }
  
  #container {
    border-radius: 4px;
    background-color: #004417ca;
    padding: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  } 

  .reveal-if-active {
    display: none;
  }

  /* #option_three {
    .reveal-if-active{
   display: block;
    }
  } */


  @media only screen and (max-width: 400px) {
    .about{
        display: block; 
     }
     #About{
         margin-left: 0px;
         padding: 10px;
     }
     #info{
         margin-left: 0px;
         padding: 10px;
     }
     img {
        display: block;
        height: 300px;
        width: 300px;
     }
  }